//Обнуление стандартных стилей
@import "nullstyle";
//Подключение переменных
@import "vars";
//Добавление новых шрифтов
@import "newfonts";

/* 1199 - 1259 */
@media screen and (max-width: 1259px) {
  .technology {
    .technology__container {
      .technology__list {
        position: relative;
        .technology__list-one {
          left: -65px !important;
          .list__block {
            position: static !important;
            .list__block-figure {
              display: none;
            }
            .list__block-ellipse {
              position: relative;
            }
          }
          .list__description {
            position: absolute;
            width: 269px;
            top: 45px;
            left: 116px;
            padding: 21px 16px 19px 16px;
            background-color: $block-color;
            .list__description-triangle {
              background: $block-color;
              color: #fff;
              position: absolute;
              &::after {
                content: "";
                position: absolute;
                top: -40px;
                left: 135px;
                transform: rotate(180deg);
                border: 10px solid transparent;
                border-top: 10px solid $block-color;
              }
            }
          }
        }
        .technology__list-two {
          position: absolute;
          bottom: 195px !important;
          left: -13px !important;
          .list__block {
            position: static !important;
            .list__block-figure {
              display: none;
            }
            .list__block-ellipse {
              position: relative;
            }
          }
          .list__description {
            position: absolute;
            width: 269px;
            top: 25px;
            left: 37px;
            padding: 21px 16px 19px 16px;
            background-color: $block-color;
            z-index: 1;
            .list__description-triangle {
              background: $block-color;
              color: #fff;
              position: absolute;
              &::after {
                content: "";
                position: absolute;
                left: 41px;
                top: -40px;
                transform: rotate(180deg);
                border: 10px solid transparent;
                border-top: 10px solid $block-color;
              }
            }
          }
        }
        .technology__list-three {
          position: absolute;
          bottom: 30px !important;
          left: 215px !important;
          .list__block {
            position: static !important;
            .list__block-figure {
              display: none;
            }
            .list__block-ellipse {
              position: relative !important;
            }
          }
          .list__description {
            position: absolute;
            width: 269px;
            top: 30px;
            left: -83px;
            padding: 21px 16px 19px 16px;
            background-color: $block-color;
            .list__description-triangle {
              background: $block-color;
              color: #fff;
              position: absolute;
              &::after {
                content: "";
                position: absolute;
                left: 63px;
                top: -40px;
                transform: rotate(180deg);
                border: 10px solid transparent;
                border-top: 10px solid $block-color;
              }
            }
          }
        }
        .technology__list-four {
          position: absolute;
          top: 265px !important;
          left: 375px !important;
          .list__block {
            position: static !important;
            .list__block-figure {
              display: none;
            }
            .list__block-ellipse {
              position: relative !important;
            }
          }
          .list__description {
            position: absolute;
            width: 269px;
            top: 35px;
            left: -65px;
            padding: 21px 16px 19px 16px;
            background-color: $block-color;
            &::after {
              content: "";
              position: absolute;
              left: 63px;
              top: -20px;
              transform: rotate(180deg);
              border: 10px solid transparent;
              border-top: 10px solid $block-color;
            }
          }
        }
        .technology__list-five {
          position: absolute;
          top: 135px !important;
          left: 445px !important;
          .list__block {
            position: static !important;
            .list__block-figure {
              display: none;
            }
            .list__block-ellipse {
              position: relative !important;
            }
          }
          .list__description {
            position: absolute;
            top: 45px;
            left: -70px;
            width: 269px;
            padding: 21px 16px 19px 16px;
            background-color: $block-color;
            &::after {
              content: "";
              position: absolute;
              left: 63px;
              top: -20px;
              transform: rotate(180deg);
              border: 10px solid transparent;
              border-top: 10px solid $block-color;
            }
          }
        }
      }
    }
  }
  .phase {
    .phase__container {
      .phase__block {
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr 1fr !important;
        margin-left: 145px;
      }
    }
  }
}
/* 1023 - 1199 */
@media screen and (max-width: 1199px) {
  .result {
    .result__container {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }
  .order {
    .order__container {
      display: flex;
      justify-content: center !important;
      .order__image {
        display: none;
      }
    }
  }
}

/* 768 - 1023 */
@media screen and (max-width: 1023px) {
  .portfolio {
    .portfolio__container {
      .portfolio-case {
        .case {
          flex-direction: column;
          .description-titleSM {
            display: block !important;
          }
          .portfolio__case-image {
            max-width: 100% !important;
            grid-template-columns: repeat(3, 1fr) !important;
            .big-image {
              grid-column: 1/3;
              img {
                height: 100%;
                object-fit: cover;
              }
            }
            .small-image {
              display: grid !important;
              margin: 0 !important;
              margin-left: 25px !important;
            }
          }
          .portfolio__case-description {
            margin-top: 33px;
            max-width: 100% !important;
            .description-title {
              display: none;
            }
            .description-info {
              justify-items: center;
              .ellipse {
                padding-top: 45px;
              }
            }
          }
          .description-buttons {
            justify-items: center;
          }
        }
      }
      .portfolio__open {
        left: 20px;
      }
    }
  }
  .technology {
    .technology__container {
      .technology__list {
        .technology__list-img {
          img {
            width: 100%;
          }
        }
        .technology__list-one {
          top: 90px !important;
          left: 30px;
          .list__description {
            top: 45px;
            left: 116px;
            .list__description-triangle {
              &::after {
                top: -40px;
                left: 135px;
              }
            }
          }
        }
        .technology__list-two {
          top: 320px;
          left: -15px !important;
          .list__description {
            top: 30px;
            left: 37px;
            z-index: 1;
            .list__description-triangle {
              &::after {
                left: 41px;
                top: -40px;
              }
            }
          }
        }
        .technology__list-three {
          bottom: 25px !important;
          left: 215px !important;
          .list__description {
            top: 25px;
            left: -85px;
            .list__description-triangle {
              &::after {
                left: 63px;
                top: -40px;
              }
            }
          }
        }
        .technology__list-four {
          top: 275px !important;
          left: 375px !important;
          .list__description {
            top: 25px;
            left: -68px;
            &::after {
              left: 63px;
              top: -20px;
            }
          }
        }
        .technology__list-five {
          top: 135px !important;
          left: 445px !important;
          .list__description {
            top: 45px;
            left: -169px;
            &::after {
              left: 160px;
              top: -20px;
            }
          }
        }
      }
    }
  }
}
/* 425 - 767 */
@media screen and (max-width: 767px) {
  .main {
    .home {
      .home__container {
        .home__scrollBlock {
          display: none !important;
        }
        .home__socialBlock {
          display: none !important;
        }
      }
    }
  }
  .portfolio {
    .portfolio__container {
      .portfolio-case {
        .case {
          .portfolio__case-description {
            .ellipse {
              padding-top: 45px;
            }
          }
        }
      }
    }
  }
  .technology {
    padding: 61px 0 42px 0 !important;
    .technology__container {
      .technology__list {
        max-width: 395px !important;
        .technology__list-one {
          top: 55px !important;
          width: 100% !important;
          left: -90px !important;
          .list__description {
            width: calc(100vw - 30px) !important;
            left: 90px !important;
            .list__description-triangle {
              &::after {
                left: 85px !important;
              }
            }
          }
        }
        .technology__list-two {
          top: 225px !important;
          left: 0 !important;
          .list__block {
            .list__block-ellipse {
              left: 55px !important;
            }
          }
          .list__description {
            width: calc(100vw - 30px) !important;
            left: 0 !important;
            .list__description-triangle {
              &::after {
                left: 36px !important;
              }
            }
          }
        }
        .technology__list-three {
          left: 148px !important;
          top: 339px !important;
          .list__description {
            width: calc(100vw - 30px) !important;
            left: -146px !important;
            .list__description-triangle {
              &::after {
                left: 126px !important;
              }
            }
          }
        }
        .technology__list-four {
          left: 259px !important;
          top: 189px !important;
          .list__description {
            width: calc(100vw - 30px) !important;
            left: -255px !important;
            &::after {
              left: 250px !important;
            }
          }
        }
        .technology__list-five {
          left: 305px !important;
          top: 76px !important;
          .list__description {
            width: calc(100vw - 30px) !important;
            left: -305px !important;
            &::after {
              left: 298px !important;
            }
          }
        }
      }
    }
  }
  .phase {
    padding: 42px 0 70px 0 !important;
    .phase__container {
      .phase__block {
        grid-template-columns: 1fr !important;
        row-gap: 50px !important;
        margin-left: 145px;
      }
    }
  }
  .result {
    .result__container {
      position: relative;
      .swiper {
        .swiper-wrapper {
          max-width: 735px !important;
          width: 100% !important;
          .swiper-slide {
            background-position: center;
            background-size: cover;
            max-width: 735px !important;
            width: 100% !important;
            margin-bottom: 60px;
            position: relative;
            img {
              width: 100%;
            }
            .swiper-slide-description {
              padding: 15px 0 15px 0;
              display: flex;
              align-items: center;
              width: 735px !important;
              background-color: $number-color;
              position: absolute;
              bottom: -10px;
              .block__one {
                margin-left: 0px;
                max-width: 235px;
              }
              .block__line {
                background-color: $secondary-color;
                width: 1px;
                height: 45px;
                margin-left: 80px !important;
                margin-right: 100px !important;
              }
              .block__two {
                .block__two-size {
                  display: flex;
                  margin-bottom: 20px;
                  .size-name {
                    font-family: $secondary-font;
                    font-size: 16px;
                    color: $secondary-color;
                    margin-right: 15px;
                  }
                  .size-value {
                    font-family: $third-font;
                    font-size: 16px;
                    color: $secondary-color;
                  }
                }
                .block__two-area {
                  display: flex;
                  .area-name {
                    font-family: $secondary-font;
                    font-size: 16px;
                    color: $secondary-color;
                    margin-right: 15px;
                  }
                  .area-value {
                    font-family: $third-font;
                    font-size: 16px;
                    color: $secondary-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .guarantees {
    .guarantees__container {
      .guarantees__main {
        flex-direction: column;
        .guarantees__main-deadlines {
          padding: 30px 44px 31px 40px !important;
          margin-right: 0 !important;
          margin-bottom: 20px;
        }
        .guarantees__main-insurance {
          padding: 31px 34px 30px 40px !important;
        }
      }
      .guarantees__secondary {
        flex-direction: column;
        .guarantees__secondary-block {
          margin-top: 35px !important;
        }
      }
    }
  }
  .order {
    .order__container {
      .order__info {
        .order__info-inputs {
          max-width: 409px !important;
          width: 100% !important;
          input {
            width: 100% !important;
          }
        }
      }
    }
  }
  .registration {
    .registration__container {
      .registration__block {
        .registration__block-btn {
          width: 100% !important;
        }
      }
    }
  }
  .footer {
    .footer__container {
      grid-template: none !important;
      grid-template-rows: 1fr 1fr 1fr !important;
      .footer__social {
        order: 1;
      }
      .footer__worktime {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
      }
      .footer__contact {
        order: 3;
        justify-self: center !important;
        align-self: start;
        .footer__contact-number {
          margin-left: 0 !important;
        }
      }
    }
  }
}
/* 425 - 635 */
@media screen and (max-width: 635px) {
  .result {
    .result__container {
      position: relative;
      .swiper {
        .swiper-wrapper {
          max-width: 735px !important;
          width: 100% !important;
          .swiper-slide {
            background-position: center;
            background-size: cover;
            max-width: 735px !important;
            width: 100% !important;
            margin-bottom: 60px;
            position: relative;
            img {
              width: 100%;
            }
            .swiper-slide-description {
              padding: 15px 0 15px 0;
              display: flex;
              align-items: center;
              width: 735px !important;
              background-color: $number-color;
              position: absolute;
              bottom: -10px;
              .block__one {
                margin-left: 15px !important;
                max-width: 130px;
              }
              .block__line {
                margin-left: 35px !important;
                margin-right: 30px !important;
              }
              .block__two {
                .block__two-size {
                  display: flex;
                  margin-bottom: 20px;
                  .size-name {
                    font-family: $secondary-font;
                    font-size: 16px;
                    color: $secondary-color;
                    margin-right: 15px;
                  }
                  .size-value {
                    font-family: $third-font;
                    font-size: 16px;
                    color: $secondary-color;
                  }
                }
                .block__two-area {
                  display: flex;
                  .area-name {
                    font-family: $secondary-font;
                    font-size: 16px;
                    color: $secondary-color;
                    margin-right: 15px;
                  }
                  .area-value {
                    font-family: $third-font;
                    font-size: 16px;
                    color: $secondary-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/* 375 - 424 */
@media screen and (max-width: 424px) {
  .main {
    .header {
      .header__container {
        .header__contact {
          display: none !important;
        }
      }
    }
    .home {
      .home__container {
        .home__firstBlock {
          .home__firstBlock-title {
            font-size: 26px;
          }
        }
      }
    }
  }
  .portfolio {
    .portfolio__container {
      .portfolio__title {
        text-align: left !important;
      }
      .portfolio-case {
        .case {
          flex-direction: column;
          .description-titleSM {
            display: block !important;
          }
          .portfolio__case-image {
            max-width: 100% !important;
            grid-template-columns: 1fr !important;
            .small-image {
              width: 100% !important;
              display: grid !important;
              grid-template-columns: 1fr 1fr 1fr;
              margin-top: 20px !important;
              margin-left: 0px !important;
            }
          }
        }
      }
    }
  }
  .technology {
    .technology__container {
      .technology__list {
        max-width: 350px !important ;
        .technology__list-one {
          top: 55px !important;
          left: -120px !important;
          .list__block {
            position: static;
          }
          .list__description {
            width: calc(100vw - 30px) !important;
            left: 120px !important;
            .list__description-triangle {
              &::after {
                left: 56px !important;
              }
            }
          }
        }
        .technology__list-two {
          top: 195px !important;
          left: -7px !important;
          .list__block {
            .list__block-ellipse {
              left: 55px !important;
            }
          }
          .list__description {
            width: calc(100vw - 30px) !important;
            left: 7px !important;
            .list__description-triangle {
              &::after {
                left: 30px !important;
              }
            }
          }
        }
        .technology__list-three {
          left: 127px !important;
          top: 297px !important;
          .list__description {
            left: -127px !important;
            &::after {
              left: 30px !important;
            }
          }
        }
        .technology__list-four {
          left: 225px !important;
          top: 172px !important;
          .list__description {
            left: -225px !important;
            &::after {
              left: 221px !important;
            }
          }
        }
        .technology__list-five {
          left: 267px !important;
          top: 76px !important;
          .list__description {
            width: calc(100vw - 30px) !important;
            left: -270px !important;
            &::after {
              left: 262px !important;
            }
          }
        }
      }
    }
  }
  .result {
    .result__container {
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            background-position: center;
            background-size: cover;
            max-width: 395px !important;
            width: 100% !important;
            margin-bottom: 60px;
            position: relative;
            img {
              width: 100%;
            }
            .swiper-slide-description {
              padding: 15px 0 15px 0;
              display: flex;
              align-items: center;
              width: 395px !important;
              background-color: $number-color;
              position: absolute;
              bottom: -10px;
              .block__one {
                margin-left: 30px !important;
                max-width: 135px;
                .block__one-name {
                  margin-bottom: 10px !important;
                }
              }
              .block__line {
                background-color: $secondary-color;
                width: 1px;
                height: 45px;
                margin-left: 5px !important;
                margin-right: 25px !important;
              }
              .block__two {
                .block__two-size {
                  display: flex;
                  margin-bottom: 20px;
                  .size-name {
                    font-family: $secondary-font;
                    font-size: 16px;
                    color: $secondary-color;
                    margin-right: 15px;
                    display: none;
                  }
                  .size-value {
                    font-family: $third-font;
                    font-size: 16px;
                    color: $secondary-color;
                  }
                }
                .block__two-area {
                  display: flex;
                  .area-name {
                    font-family: $secondary-font;
                    font-size: 16px;
                    color: $secondary-color;
                    margin-right: 15px;
                    display: none;
                  }
                  .area-value {
                    font-family: $third-font;
                    font-size: 16px;
                    color: $secondary-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .order {
    .order__container {
      .order__info {
        .order__info-checkbox {
          max-width: 290px !important;
          width: 100%;
          left: 10px;
        }
      }
    }
  }
}
/* 320 - 374 */
@media screen and (max-width: 374px) {
  .portfolio {
    .portfolio__container {
      .portfolio-case {
        .case {
          .portfolio__case-description {
            .ellipse {
              padding-top: 35px !important;
              width: 85px !important;
              height: 85px !important;
            }
          }
        }
      }
    }
  }
  .technology {
    .technology__container {
      .technology__list {
        .technology__list-one {
          top: 30px !important;
          width: 100% !important;
          left: -120px !important;
          .list__block {
            position: static;
          }
          .list__description {
            width: calc(100vw - 30px) !important;
            left: 120px !important;
            .list__description-triangle {
              &::after {
                left: 56px !important;
              }
            }
          }
        }
        .technology__list-two {
          left: -15px !important;
          top: 160px !important;
          .list__description {
            left: 0px !important;
            .list__description-triangle {
              &::after {
                left: 36px !important;
              }
            }
          }
        }
        .technology__list-three {
          left: 104px !important;
          top: 243px !important;
          .list__description {
            left: -103px !important;
            .list__description-triangle {
              &::after {
                left: 82px !important;
              }
            }
          }
        }
        .technology__list-four {
          left: 190px !important;
          top: 145px !important;
          .list__description {
            left: -189px !important;
            &::after {
              left: 185px !important;
            }
          }
        }
        .technology__list-five {
          left: 225px !important;
          top: 61px !important;
          .list__description {
            width: calc(100vw - 30px) !important;
            left: -225px !important;
            &::after {
              left: 215px !important;
            }
          }
        }
      }
    }
  }
  .result {
    .result__container {
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            .swiper-slide-description {
              .block__one {
                margin-left: 15px !important;
                max-width: 135px;
              }
            }
          }
        }
      }
    }
  }
  .order {
    .order__container {
      .order__info {
        .order__info-checkbox {
          max-width: 265px !important;
          width: 100%;
          left: 15px;
        }
      }
    }
  }
}
