//Обнуление стандартных стилей
@import "nullstyle";
//Подключение переменных
@import "vars";
//Добавление новых шрифтов
@import "newfonts";
//Подключение адаптива
@import "adaptive";

body {
  background-color: $first-color;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  background-image: -moz-linear-gradient(
    0deg,
    rgb(252, 195, 114) 0%,
    rgb(240, 219, 188) 100%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(252, 195, 114) 0%,
    rgb(240, 219, 188) 100%
  );
  background-image: -ms-linear-gradient(
    0deg,
    rgb(252, 195, 114) 0%,
    rgb(240, 219, 188) 100%
  );
  border-radius: 50px;
  font-family: $first-font;
  color: $first-color;
}

.loader {
  position: fixed;
  background-color: $first-color;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
      position: absolute;
      border: 4px solid $main-color;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      &:nth-child(2) {
        animation-delay: -0.5s;
      }
    }
  }
}

.js-validate-error-label {
  @include guarantessStyle-title;
  margin: 15px;
}
.js-validate-error-field {
  margin-bottom: 0 !important;
}

.main {
  background-image: url("/image/main-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .header {
    padding: 20px 0;
    border-bottom: 1px solid rgba(159, 159, 159, 0.5);
    .header__container {
      display: grid;
      grid-template: 1fr/1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
      .header__menu {
        z-index: 0;
        justify-self: left;
        z-index: 2;
        .header__menu-toggle {
          display: block;
          position: relative;
          z-index: 1;
          user-select: none;
          a {
            text-decoration: none;
            color: $secondary-color;
            :hover {
              color: $main-color;
              transition: color 0.5s ease;
            }
          }
          input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;

            opacity: 0;
            z-index: 2;

            &:checked ~ span {
              opacity: 1;
              transform: rotate(45deg) translate(-2px, -1px);
              background: $main-color;
            }
            &:checked ~ span {
              &:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
              }
            }
            &:checked ~ span {
              &:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, -1px);
              }
            }
            &:checked ~ ul {
              transform: none;
            }
          }
          span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background-color: $secondary-color;
            border-radius: 5px;

            z-index: 1;

            transform-origin: 4px 0;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
              background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
              opacity 0.55s ease;
            &:first-child {
              transform-origin: 0% 0%;
            }
            &:nth-last-child(2) {
              transform-origin: 0% 100%;
            }
          }
        }
        .header__menu-menu {
          position: absolute;
          width: 300px;
          margin: -100px 0 0 -50px;
          padding: 50px;
          padding-top: 125px;

          background: $block-color;
          list-style-type: none;

          transform-origin: 0% 0%;
          transform: translate(0, -100%);

          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          li {
            @include descrFont();
            padding: 10px 0;
            font-size: clamp(14px, 5vw, 16px);
          }
        }
      }
      .header__contact {
        justify-self: right;
        .header__contact-number {
          @include descrFont();
          margin-left: 20px;
          font-size: clamp(10px, 2vw, 16px);
          font-weight: 100;
        }
        .header__contact-call {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-top: 13px;
          .call-animation {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $main-color;
            text-align: center;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 9px;
              height: 9px;
              border-radius: 50%;
              z-index: -1;
              animation: pulse 3s infinite;
              box-shadow: 0 0 1px #ecc56b3b;
              border: 0.2px solid $main-color;
              top: -1px;
              right: -1px;
              z-index: 2;
            }
            &:after {
              content: "";
              position: absolute;
              width: 9px;
              height: 9px;
              border-radius: 50%;
              z-index: -1;
              animation: pulse 4s infinite;
              animation-delay: 0.5s;
              border: 0.2px solid $main-color;
              box-shadow: 0 0 1px #ecc56b3b;
              top: -1px;
              right: -1px;
              z-index: 3;
            }
          }
          .call-order {
            @include descrFont();
            margin-left: 20px;
            font-size: clamp(10px, 2vw, 16px);
            font-weight: 100;
            color: $main-color;
          }
        }
      }
    }
  }
  .home {
    padding: 162px 0 191px 0;

    .home__container {
      display: grid;
      grid-template: 1fr 1fr 1fr;
      position: relative;
      .home__scrollBlock {
        cursor: pointer;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: -2%;
        bottom: 45%;
        animation: bounce-1 1.5s ease;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        z-index: 1;
        .home__scrollBlock-link {
          @include descrFont();
          font-size: 18px;
          color: #a4a2a2;
          transform: rotate(-90deg);
        }
        .home__scrollBlock-arrow {
          line-height: 1px;
          margin-top: 60px;
        }
      }
      .home__firstBlock {
        max-width: 595px;
        text-align: center;
        justify-self: center;
        position: relative;
        .home__firstBlock-title {
          @include titleFont();
          font-size: clamp(26px, 5vw, 50px);
          line-height: 1.2;
          margin-bottom: 25px;
        }

        .home__firstBlock-description {
          @include descrFont();
          line-height: 1.4;
          font-size: clamp(14px, 2vw, 18px);
          margin-bottom: 40px;
        }

        .home__firstBlock-btn {
          font-size: clamp(16px, 5vw, 18px);
          padding: 22px 0;
          color: $first-color;
          width: 100%;
          max-width: 300px;
          border: 1px solid transparent;
          &:hover {
            border: 1px solid $first-color;
            box-shadow: 6px 10px 5px -5px rgb(0, 0, 0);
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .home__socialBlock {
        display: flex;
        flex-direction: column;
        justify-self: right;
        position: absolute;
        right: 2%;
        a {
          img {
            &:hover {
              opacity: 0.2;
              transition: all 0.3s eas;
            }
          }
        }
        :not(:last-child) {
          margin-bottom: 30px;
        }
      }
      .transition {
        position: absolute;
        top: calc(50% - -125.5px);
        left: calc(50% - 964px);
        z-index: 0;
        //Не смог растянуть изображение на широкие экраны(возможно продублирую их на правую и левую сторону, а в адаптиве их уберу через display:none)
      }
    }
  }
}
.portfolio {
  padding: 191px 0 60px 0;
  position: relative;
  background-color: $first-color;
  .portfolio__container {
    .portfolio__title {
      @include titleFont();
      font-size: clamp(30px, 5vw, 40px);
      text-align: center;
      margin-bottom: 70px;
    }
    .portfolio-case {
      .case {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
        .description-titleSM {
          @include descrFont();
          font-size: clamp(18px, 5vw, 30px);
          margin-bottom: 40px;
          display: none;
        }
        * img {
          width: 100%;
        }
        .portfolio__case-image {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(2, auto);
          max-width: 590px;
          max-height: 530px;
          .small-image {
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
          }
        }
        .portfolio__case-description {
          max-width: 380px;
          .description-title {
            @include descrFont();
            font-size: 30px;
            margin-bottom: 40px;
          }
          .description-text {
            @include descrFont();
            font-size: clamp(14px, 5vw, 18px);
            font-family: $third-font;
            margin-bottom: 50px;
          }
          .description-info {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 50px;
            .size,
            .number-bedrooms,
            .number-bathrooms {
              font-size: clamp(15px, 3vw, 20px);
              @include descrFont();
              color: $main-color;
              text-align: center;
              align-items: center;
              padding-top: 40px;
            }
            .ellipse {
              border-width: 1px;
              border-color: $main-color;
              border-style: solid;
              border-radius: 50%;
              width: 108px;
              height: 108px;
            }
          }
          .description-buttons {
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 20px;
            .description-buttons-give {
              font-family: $first-font;
              color: $first-color;
              width: 100%;
              max-width: 380px;
              font-size: clamp(15px, 5vw, 18px);
              padding: 22px 0;
              border: 1px solid transparent;
              &:hover {
                border: 1px solid $first-color;
                box-shadow: 6px 10px 5px -5px rgb(0, 0, 0);
                transition: all 0.3s ease-in-out;
              }
            }
            .description-buttons-download {
              @include download-btn();
              width: 100%;
              max-width: 380px;
              font-size: clamp(15px, 5vw, 18px);
              padding: 21px 0;
              a {
                text-decoration: none;
                color: $secondary-color;
              }
            }
          }
        }
      }
      .portfolio__case-2,
      .portfolio__case-4 {
        .portfolio__case-image {
          order: 2;
        }
        .portfolio__case-description {
          order: 1;
        }
      }
      .portfolio__case-3,
      .portfolio__case-4,
      .portfolio__case-5 {
        display: none;
      }
    }
    .portfolio__open {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .portfolio__open-text {
        @include descrFont();
        text-align: center;
        font-size: clamp(15px, 5vw, 18px);
        color: $grey;
      }
      .hide-text {
        display: none;
      }
      .portfolio__open-arrow {
        position: relative;
        width: 66px;
        height: 30px;
        // top: -25px;
        // left: 650px;
        transform: scale(0.25);
        top: 1px;
        right: 15px;
        .arrow-left {
          position: absolute;
          background-color: transparent;
          top: 10px;
          left: 0;
          width: 40px;
          height: 10px;
          display: block;
          transform: rotate(35deg);
          float: right;
          border-radius: 1px;
          &::after {
            content: "";
            background-color: $grey;
            width: 40px;
            height: 10px;
            display: block;
            float: right;
            border-radius: 6px 10px 10px 6px;
            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
            z-index: -1;
          }
        }
        .arrow-right {
          position: absolute;
          background-color: transparent;
          top: 10px;
          left: 26px;
          width: 40px;
          height: 10px;
          display: block;
          transform: rotate(-35deg);
          float: right;
          border-radius: 2px;
          &::after {
            content: "";
            background-color: $grey;
            width: 40px;
            height: 10px;
            display: block;
            float: right;
            border-radius: 10px 6px 6px 10px;
            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
            z-index: -1;
          }
        }
      }
      .open .arrow-left:after {
        transform-origin: center center;
        transform: rotate(-70deg);
      }
      .open .arrow-right:after {
        transform-origin: center center;
        transform: rotate(70deg);
      }
    }
  }
}
.technology {
  padding: 61px 0 120px 0;

  .technology__container {
    .technology__title {
      @include titleFont();
      font-size: clamp(30px, 5vw, 40px);
      text-align: center;
      margin-bottom: 83px;
    }
    .technology__list {
      position: relative;
      max-width: 576px;
      margin: 0 auto;
      .technology__list-img {
        text-align: center;
      }
      .technology__list-one {
        position: absolute;
        top: 85px;
        left: -305px;
        .list__block {
          position: absolute;
          top: -2px;
          left: 250px;
          .list__block-ellipse {
            position: absolute;
            border-radius: 50%;
            background-color: rgb(236, 198, 107);
            box-shadow: 0px 0px 25.5px 4.5px rgba(0, 0, 0, 0.004);
            width: 15px;
            height: 15px;
            left: 195px;
            top: 8px;
            z-index: 0;
            .ellipse-back {
              position: absolute;
              border-width: 1px;
              border-color: $main-color;
              border-style: solid;
              border-radius: 50%;
              top: -4px;
              left: -4px;
              width: 23px;
              height: 23px;
              z-index: 3;
            }
          }
        }
        .list__description {
          position: relative;
          width: 269px;
          left: 40px;
          z-index: 1;
          .list__description-title {
            @include descrFont();
            font-size: 18px;
            margin-bottom: 16px;
          }
          .list__description-text {
            font-size: 16px;
            font-family: $four-font;
            color: $secondary-color;
          }
        }
      }
      .technology__list-two {
        position: absolute;
        bottom: 75px;
        left: -234px;
        .list__block {
          position: absolute;
          top: -8px;
          left: 220px;
          .list__block-ellipse {
            position: absolute;
            border-radius: 50%;
            background-color: rgb(236, 198, 107);
            box-shadow: 0px 0px 25.5px 4.5px rgba(0, 0, 0, 0.004);
            width: 15px;
            height: 15px;
            left: 96px;
            top: -8px;
            z-index: 0;
            .ellipse-back {
              position: absolute;
              border-width: 1px;
              border-color: $main-color;
              border-style: solid;
              border-radius: 50%;
              top: -4px;
              left: -4px;
              width: 23px;
              height: 23px;
              z-index: 3;
            }
          }
        }
        .list__description {
          width: 269px;
          .list__description-title {
            @include descrFont();
            font-size: clamp(16px, 5vw, 18px);
            margin-bottom: 16px;
          }
          .list__description-text {
            font-size: 16px;
            font-family: $four-font;
            color: $secondary-color;
          }
        }
      }
      .technology__list-three {
        position: absolute;
        bottom: -85px;
        left: 325px;
        .list__block {
          position: absolute;
          top: -8px;
          left: -110px;
          .list__block-ellipse {
            position: absolute;
            border-radius: 50%;
            background-color: rgb(236, 198, 107);
            box-shadow: 0px 0px 25.5px 4.5px rgba(0, 0, 0, 0.004);
            width: 15px;
            height: 15px;
            left: -2px;
            top: -8px;
            z-index: 0;
            .ellipse-back {
              position: absolute;
              border-width: 1px;
              border-color: $main-color;
              border-style: solid;
              border-radius: 50%;
              top: -4px;
              left: -4px;
              width: 23px;
              height: 23px;
              z-index: 3;
            }
          }
        }
        .list__description {
          width: 269px;
          .list__description-title {
            @include descrFont();
            font-size: clamp(16px, 5vw, 18px);
            margin-bottom: 16px;
          }
          .list__description-text {
            font-size: 16px;
            font-family: $four-font;
            color: $secondary-color;
          }
        }
      }
      .technology__list-four {
        position: absolute;
        top: 320px;
        left: 605px;
        .list__block {
          position: absolute;
          top: -20px;
          left: -228px;
          .list__block-ellipse {
            position: absolute;
            border-radius: 50%;
            background-color: rgb(236, 198, 107);
            box-shadow: 0px 0px 25.5px 4.5px rgba(0, 0, 0, 0.004);
            width: 15px;
            height: 15px;
            left: -2px;
            top: -8px;
            z-index: 0;
            .ellipse-back {
              position: absolute;
              border-width: 1px;
              border-color: $main-color;
              border-style: solid;
              border-radius: 50%;
              top: -4px;
              left: -4px;
              width: 23px;
              height: 23px;
              z-index: 3;
            }
          }
        }
        .list__description {
          .list__description-title {
            @include descrFont();
            font-size: clamp(16px, 5vw, 18px);
            margin-bottom: 16px;
          }
          .list__description-text {
            font-size: 16px;
            font-family: $four-font;
            color: $secondary-color;
          }
        }
      }
      .technology__list-five {
        position: absolute;
        top: 120px;
        left: 610px;
        .list__block {
          position: absolute;
          top: 5px;
          left: -165px;
          .list__block-ellipse {
            position: absolute;
            border-radius: 50%;
            background-color: rgb(236, 198, 107);
            box-shadow: 0px 0px 25.5px 4.5px rgba(0, 0, 0, 0.004);
            width: 15px;
            height: 15px;
            left: -6px;
            top: 9px;
            z-index: 0;
            .ellipse-back {
              position: absolute;
              border-width: 1px;
              border-color: $main-color;
              border-style: solid;
              border-radius: 50%;
              top: -4px;
              left: -4px;
              width: 23px;
              height: 23px;
              z-index: 3;
            }
          }
        }
        .list__description {
          .list__description-title {
            @include descrFont();
            font-size: clamp(16px, 5vw, 18px);
            margin-bottom: 16px;
          }
          .list__description-text {
            font-size: 16px;
            font-family: $four-font;
            color: $secondary-color;
          }
        }
      }
    }
  }
}
.phase {
  padding: 120px 0 70px 0;
  .phase__container {
    display: flex;
    flex-direction: column;
    .phase__title {
      @include titleFont();
      font-size: 40px;
      text-align: center;
      margin-bottom: 83px;
    }
    .phase__block {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 40px;
      row-gap: 150px;
      margin-left: 10%;
      .phase__block-one {
        display: flex;
        gap: 30px;
        position: relative;
        .block__number {
          position: absolute;
          @include titleFont();
          font-size: 70px;
          color: $number-color;
        }
        .block__icon {
          margin-top: 60px;
          z-index: 3;
        }
        .block__icon-wh {
          width: 60px;
        }
        .block__info {
          max-width: 240px;
          margin-top: 60px;
          @include descrFont();
          font-size: 18px;
          .block__info-description {
            padding-top: 10px;
            font-family: $four-font;
            span {
              font-family: $secondary-font;
              text-decoration: underline;
            }
          }
        }
      }
      .phase__block-two {
        display: flex;
        gap: 32px;
        position: relative;
        .block__number {
          position: absolute;
          @include titleFont();
          font-size: 70px;
          color: $number-color;
        }
        .block__icon {
          margin-top: 60px;
          z-index: 3;
        }
        .block__icon-wh {
          width: 60px;
        }
        .block__info {
          margin-top: 60px;
          @include descrFont();
          font-size: 18px;
          .block__info-description {
            padding: 10px 15px 15px 0;
            font-family: $four-font;
            span {
              font-family: $secondary-font;
              text-decoration: underline;
            }
          }
        }
      }
      .phase__block-three {
        display: flex;
        gap: 32px;
        position: relative;
        .block__number {
          position: absolute;
          @include titleFont();
          font-size: 70px;
          color: $number-color;
        }
        .block__icon {
          margin-top: 60px;
          z-index: 3;
        }
        .block__icon-wh {
          width: 60px;
        }
        .block__info {
          margin-top: 60px;
          @include descrFont();
          font-size: 18px;
          .block__info-description {
            padding: 10px 15px 15px 0;
            font-family: $four-font;
            span {
              font-family: $secondary-font;
              text-decoration: underline;
            }
          }
        }
      }
      .phase__block-four {
        display: flex;
        gap: 32px;
        position: relative;
        .block__number {
          position: absolute;
          @include titleFont();
          font-size: 70px;
          color: $number-color;
        }
        .block__icon {
          margin-top: 60px;
          z-index: 3;
        }
        .block__icon-wh {
          width: 60px;
        }
        .block__info {
          margin-top: 60px;
          @include descrFont();
          font-size: 18px;
          .block__info-description {
            padding: 10px 45px 15px 0;
            font-family: $four-font;
            span {
              font-family: $secondary-font;
              text-decoration: underline;
            }
          }
        }
      }
      .phase__block-five {
        display: flex;
        gap: 32px;
        position: relative;
        .block__number {
          position: absolute;
          @include titleFont();
          font-size: 70px;
          color: $number-color;
        }
        .block__icon {
          margin-top: 60px;
          z-index: 3;
        }
        .block__icon-wh {
          width: 60px;
        }
        .block__info {
          margin-top: 60px;
          @include descrFont();
          font-size: 18px;
          .block__info-description {
            padding: 10px 15px 15px 0;
            font-family: $four-font;
            span {
              font-family: $secondary-font;
              text-decoration: underline;
            }
          }
        }
      }
      .phase__block-six {
        display: flex;
        gap: 32px;
        position: relative;
        .block__number {
          position: absolute;
          @include titleFont();
          font-size: 70px;
          color: $number-color;
        }
        .block__icon {
          margin-top: 60px;
          z-index: 3;
        }
        .block__icon-wh {
          width: 60px;
        }
        .block__info {
          margin-top: 60px;
          @include descrFont();
          font-size: 18px;
          .block__info-description {
            padding: 10px 15px 15px 0;
            font-family: $four-font;
            span {
              font-family: $secondary-font;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
.result {
  padding: 70px 0 60px 0;
  .result__container {
    position: relative;
    .result__title {
      @include titleFont();
      font-size: clamp(30px, 5vw, 40px);
      text-align: center;
      margin-bottom: 80px;
    }
    .swiper {
      max-width: 1045px;
      width: 100%;
      .swiper-wrapper {
        .swiper-slide {
          background-position: center;
          background-size: cover;
          width: 609px;
          margin-bottom: 60px;
          position: relative;
          img {
            width: 100%;
          }
          .swiper-slide-description {
            padding: 15px 0 15px 0;
            display: flex;
            align-items: center;
            width: 609px;
            background-color: $number-color;
            position: absolute;
            bottom: -10px;
            .block__one {
              margin-left: 56px;
              .block__one-name {
                font-family: $secondary-font;
                font-size: clamp(14px, 3vw, 18px);
                color: $secondary-color;
                margin-bottom: 20px;
              }
              .block__one-address {
                font-family: $third-font;
                font-size: clamp(14px, 3vw, 18px);
                color: $secondary-color;
              }
            }
            .block__line {
              background-color: $secondary-color;
              width: 1px;
              height: 45px;
              margin-left: 35px;
              margin-right: 45px;
            }
            .block__two {
              .block__two-size {
                display: flex;
                margin-bottom: 20px;
                .size-name {
                  font-family: $secondary-font;
                  font-size: clamp(14px, 3vw, 16px);
                  color: $secondary-color;
                  margin-right: 15px;
                }
                .size-value {
                  font-family: $third-font;
                  font-size: clamp(14px, 3vw, 16px);
                  color: $secondary-color;
                }
              }
              .block__two-area {
                display: flex;
                .area-name {
                  font-family: $secondary-font;
                  font-size: clamp(14px, 3vw, 16px);
                  color: $secondary-color;
                  margin-right: 15px;
                }
                .area-value {
                  font-family: $third-font;
                  font-size: clamp(14px, 3vw, 16px);
                  color: $secondary-color;
                }
              }
            }
          }
        }
      }
      .swiper-pagination-bullet {
        background-color: transparent;
        width: 10px;
        height: 10px;
        border: 1px solid $main-color;
        border-radius: 30px;
      }
      .swiper-pagination-bullet-active {
        background-color: $main-color;
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: $main-color;
    padding: 17px 20px 17px 21px;
    border-radius: 30px;
    border-width: 1px;
    border-color: rgb(236, 198, 107);
    border-style: solid;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    z-index: 2;
    top: 330px;
    &::after,
    &::before {
      font-size: 15px;
    }
  }
}
.guarantees {
  padding: 120px 0;
  .guarantees__container {
    .guarantees__title {
      @include titleFont();
      font-size: clamp(30px, 5vw, 40px);
      text-align: center;
      margin-bottom: 70px;
    }
    .guarantees__main {
      display: flex;
      justify-content: space-between;
      .guarantees__main-deadlines {
        padding: 30px 78px 31px 40px;
        display: flex;
        align-items: center;
        background-color: $block-color;
        max-width: 588px;
        margin-right: 25px;
        .guarantees__main-icon {
          width: 50px;
          margin-right: 40px;
        }
        .deadlines__info {
          max-width: 379px;
          .deadlines__info-title {
            @include guarantessStyle-title();
            margin-bottom: 15px;
          }
          .deadlines__info-description {
            @include guarantessStyle-description();
            line-height: 1.3;
          }
        }
      }
      .guarantees__main-insurance {
        padding: 31px 67px 30px 40px;
        display: flex;
        background-color: $block-color;
        max-width: 588px;
        .guarantees__main-icon {
          width: 50px;
          height: 50px;
          margin-right: 40px;
        }
        .insurance__info {
          max-width: 372px;
          .insurance__info-title {
            @include guarantessStyle-title();
            margin-bottom: 15px;
          }
          .insurance__info-description {
            @include guarantessStyle-description();
            line-height: 1.3;
          }
        }
      }
    }
    .guarantees__secondary {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      .guarantees__secondary-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        .block-img {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $main-color;
          border-radius: 50%;
          width: 138px;
          height: 138px;
        }
        .block-info {
          margin-top: 30px;
          text-align: center;
          max-width: 282px;
          .block-title {
            @include guarantessStyle-title;
            margin-bottom: 15px;
          }
          .block-description {
            @include guarantessStyle-description;
          }
        }
      }
    }
    .guarantees__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      .block-btn {
        margin-top: 60px;
        @include download-btn();
        width: 384px;
        padding: 21px 22px 22px 23px;
        a {
          text-decoration: none;
          color: $secondary-color;
        }
      }
    }
  }
}
.order {
  padding: 0 0 65px 0;
  .order__container {
    display: flex;
    justify-content: space-between;
    .order__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      .order__info-title {
        @include titleFont();
        font-size: clamp(30px, 5vw, 40px);
        text-align: center;
        margin-bottom: 40px;
        line-height: 1.2;
      }
      .order__info-inputs {
        display: flex;
        flex-direction: column;
        max-width: 409px;
        input {
          @include inputStyle();
          width: 409px;
          font-size: clamp(16px, 3vw, 18px);
          font-family: $third-font;
          padding: 23px 0 22px 27px;
          margin-bottom: 20px;
          &::placeholder {
            color: $secondary-color;
          }
        }
        .order__btn {
          padding: 22px 0 23px 0;
          color: $first-color;
          font-size: clamp(16px, 3vw, 18px);
          font-family: $first-font;
          margin-bottom: 30px;
          border: 1px solid transparent;
          &:hover {
            border: 1px solid $first-color;
            box-shadow: 6px 10px 5px -5px rgb(0, 0, 0);
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .order__info-thanks {
        width: 350px;
        background-color: $block-color;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        .thanks-modal {
          padding: 15px 0;
          text-align: center;
          .thanks-text {
            @include descrFont;
            font-size: clamp(16px, 3vw, 18px);
            padding-bottom: 15px;
            font-size: 20;
          }
          .thanks-btn {
            border-radius: 20px;
            padding: 10px 15px;
          }
        }
      }
      .order__info-checkbox {
        display: flex;
        max-width: 409px;
        align-items: center;
        position: relative;
        z-index: 0;
        .checkbox-input {
          appearance: none;
          cursor: pointer;
          &:checked + .checkbox-label::after {
            opacity: 1;
          }
        }
        .checkbox-label {
          margin-left: 27px;
          @include guarantessStyle-description();
          font-size: 14px;
          max-width: 319px;
          cursor: pointer;
          a {
            font-family: $third-font;
            color: $secondary-color;
            font-size: 14px;
            text-decoration: underline;
          }
          &::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border: 2px solid $secondary-color;
            z-index: 1;

            position: absolute;
            top: 8px;
            left: -25px;
          }
          &::after {
            content: "";
            display: block;
            width: 25px;
            height: 18px;
            background-image: url(/image/tick.png);
            background-size: 25px 18px;
            z-index: 2;

            opacity: 0;

            position: absolute;
            top: 5px;
            left: -20px;
            transition: opacity 0.2s ease-in-out;
          }
        }
      }
    }
  }
}
.registration {
  padding: 260px 0 160px 0;
  background-image: url(/image/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  .registration__container {
    display: flex;
    justify-content: center;
    align-items: center;
    .registration__block {
      max-width: 486px;
      text-align: center;
      .registration__block-title {
        @include titleFont();
        font-size: clamp(30px, 5vw, 60px);
        text-align: center;
        margin-bottom: 30px;
        line-height: 1.2;
      }
      .registration__block-description {
        @include descrFont;
        font-size: clamp(16px, 3vw, 18px);
        line-height: 1.3;
        margin-bottom: 30px;
      }
      .registration__block-btn {
        width: 306px;
        padding: 22px 0 25px 0;
        color: $first-color;
        font-size: clamp(16px, 3vw, 18px);
        font-family: $first-font;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid $first-color;
          box-shadow: 6px 10px 5px -5px rgb(0, 0, 0);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
.footer {
  padding: 50px 0 115px 0;
  border-top: 1px solid rgba(159, 159, 159, 0.2);
  .footer__container {
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    .footer__worktime {
      @include descrFont;
      font-size: clamp(16px, 5vw, 18px);
      .footer__worktime-address {
        margin-bottom: 30px;
      }
    }
    .footer__social {
      display: flex;
      flex-direction: column;
      align-items: center;
      .footer__social-logo {
        margin-bottom: 57px;
      }
      .footer__social-block {
        a {
          img {
            &:hover {
              opacity: 0.2;
              transition: all 0.3s ease;
            }
          }
          &:not(:last-child) {
            margin-right: 40px;
          }
        }
      }
    }
    .footer__contact {
      justify-self: right;
      .footer__contact-number {
        @include descrFont();
        margin-left: 20px;
        font-size: clamp(16px, 3vw, 18px);
      }
      .footer__contact-call {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 13px;
        .call-animation {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: $main-color;
          text-align: center;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            z-index: -1;
            animation: pulse 3s infinite;
            box-shadow: 0 0 1px #ecc56b3b;
            border: 0.2px solid $main-color;
            top: -1px;
            right: -1px;
            z-index: 2;
          }
          &:after {
            content: "";
            position: absolute;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            z-index: -1;
            animation: pulse 4s infinite;
            animation-delay: 0.5s;
            border: 0.2px solid $main-color;
            box-shadow: 0 0 1px #ecc56b3b;
            top: -1px;
            right: -1px;
            z-index: 3;
          }
        }
        .call-order {
          @include descrFont();
          margin-left: 20px;
          font-size: 16px;
          color: $main-color;
        }
      }
    }
  }
}
.excursion__order {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  .excursion__order-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    width: 700px;
    background-color: $first-color;
    border-radius: 30px;
    box-shadow: 0 0 5px #000 inset;

    .block-title {
      @include titleFont();
      font-size: clamp(30px, 5vw, 40px);
      text-align: center;
      margin-bottom: 40px;
      line-height: 1.2;
    }
    .block-form {
      display: flex;
      flex-direction: column;
      max-width: 409px;
      input {
        @include inputStyle();
        width: 409px;
        font-size: clamp(16px, 3vw, 18px);
        font-family: $third-font;
        padding: 23px 0 22px 27px;
        margin-bottom: 20px;
        &::placeholder {
          color: $secondary-color;
        }
      }
      .form-btn {
        padding: 22px 0 23px 0;
        color: $first-color;
        font-size: clamp(16px, 3vw, 18px);
        font-family: $first-font;
        margin-bottom: 30px;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid $first-color;
          box-shadow: 6px 10px 5px -5px rgb(0, 0, 0);
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .block-thanks {
      width: 350px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -25px;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      .thanks-modal {
        padding: 15px 0;
        text-align: center;
        .thanks-text {
          @include descrFont;
          font-size: clamp(16px, 3vw, 18px);
          padding-bottom: 20px;
          font-size: 20;
        }
        .thanks-btn {
          border-radius: 20px;
          padding: 10px 15px;
        }
      }
    }
    .block-checkbox {
      display: flex;
      max-width: 409px;
      align-items: center;
      position: relative;
      z-index: 0;
      .block-input {
        appearance: none;
        cursor: pointer;
        &:checked + .block-label::after {
          opacity: 1;
        }
      }
      .block-label {
        margin-left: 27px;
        @include guarantessStyle-description();
        font-size: 14px;
        max-width: 319px;
        cursor: pointer;
        a {
          font-family: $third-font;
          color: $secondary-color;
          font-size: 14px;
          text-decoration: underline;
        }
        &::before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          border: 2px solid $secondary-color;
          z-index: 1;

          position: absolute;
          top: 8px;
          left: -25px;
        }
        &::after {
          content: "";
          display: block;
          width: 25px;
          height: 18px;
          background-image: url(/image/tick.png);
          background-size: 25px 18px;
          z-index: 1;

          opacity: 0;

          position: absolute;
          top: 5px;
          left: -20px;
          transition: opacity 0.2s ease-in-out;
        }
      }
    }
  }
}
