@font-face {
  font-family: MuseoSansCyrl100;
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/MuseoSansCyrl100.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/MuseoSansCyrl300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/MuseoSansCyrl500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/MuseoSansCyrl700.otf");
}
@font-face {
  font-family: NeumannR;
  src: url("/fonts/neumann-regular.otf");
}
